<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @attendee.address %>
</p>

<p>
  <strong>Allergies:</strong>
  <%= @attendee.allergies %>
</p>

<p>
  <strong>Church:</strong>
  <%= @attendee.church %>
</p>

<p>
  <strong>Diet requirements:</strong>
  <%= @attendee.diet_requirements %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @attendee.dob %>
</p>

<p>
  <strong>E email:</strong>
  <%= @attendee.e_email %>
</p>

<p>
  <strong>E h phone:</strong>
  <%= @attendee.e_h_phone %>
</p>

<p>
  <strong>E m phone:</strong>
  <%= @attendee.e_m_phone %>
</p>

<p>
  <strong>E name:</strong>
  <%= @attendee.e_name %>
</p>

<p>
  <strong>E relationship:</strong>
  <%= @attendee.e_relationship %>
</p>

<p>
  <strong>E w phone:</strong>
  <%= @attendee.e_w_phone %>
</p>

<p>
  <strong>F name:</strong>
  <%= @attendee.f_name %>
</p>

<p>
  <strong>G email:</strong>
  <%= @attendee.g_email %>
</p>

<p>
  <strong>G h phone:</strong>
  <%= @attendee.g_h_phone %>
</p>

<p>
  <strong>G m phone:</strong>
  <%= @attendee.g_m_phone %>
</p>

<p>
  <strong>G name:</strong>
  <%= @attendee.g_name %>
</p>

<p>
  <strong>G w phone:</strong>
  <%= @attendee.g_w_phone %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @attendee.gender %>
</p>

<p>
  <strong>L name:</strong>
  <%= @attendee.l_name %>
</p>

<p>
  <strong>Medication:</strong>
  <%= @attendee.medication %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @attendee.notes %>
</p>

<p>
  <strong>Panadol:</strong>
  <%= @attendee.panadol %>
</p>

<p>
  <strong>Role:</strong>
  <%= @attendee.role %>
</p>

<p>
  <strong>School:</strong>
  <%= @attendee.school %>
</p>

<%= link_to 'Edit', edit_attendee_path(@attendee) %> |
<%= link_to 'Back', attendees_path %>
